<div class="col-2 sidebar" th:fragment="sidebarFragement" style="margin-top: 56px; font-family: 'Yu Gothic'; font-size: 18px;">
  <a href="#">
    <span>Class Management</span>
  </a>
  <a href="#">
    <span>Trainee Management</span>
  </a>
  <a href="#">
    <span>Trainer Management</span>
  </a>
  <a href="#">
    <span>Candidate Management</span>
  </a>
  <a href="#">
    <span>Intern Management</span>
  </a>
  <a href="#">
    <span>Log Work</span>
  </a>
  <a href="#">
    <span>Reports</span>
  </a>
  <a href="#">
    <span>Settings</span>
  </a>
  <a href="#">
    <span>Ranking Management</span>
  </a>
</div>